/*CSS reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.secondNav{
  height: 35px;
  display: block;
}
.formContainer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.signupBtn{
  color: red;
  font-weight: bold;
}

.enjoy{
  color: red;
}

.policy{
  font-weight: bold;
}

.btnPolicy{
  font-weight: bold;
  color: red;
}

